#####################################################################
#     MACROS FOR MOONRAKER CONTROLLED DEVICES
#####################################################################

[gcode_macro POWER_OFF_MCU]
gcode:
  LIGHTS_OFF
  {
    action_call_remote_method("set_device_power",
                             device="MCU",
                             state="off")
  }

[gcode_macro POWER_ON_MCU]
gcode:
  LIGHTS_ON
  {
    action_call_remote_method("set_device_power",
                             device="MCU",
                             state="on")
  }


[gcode_macro ALL_OFF]
description: Turn EVERYTHING off with one command (beds, heaters, motors, lights)
gcode:
    M84                                  ; turn steppers off
    TURN_OFF_HEATERS                     ; turn bed / hotend off
    M107                                 ; turn print cooling fan off
    SET_FAN_SPEED FAN=Exhaust SPEED=0    ; turn exhaust fan off
    SET_FAN_SPEED FAN=BedFans SPEED=0    ; bed fan off
#    SET_FAN_SPEED FAN=BedInner SPEED=0   ; bed fan off
    SET_PIN PIN=light VALUE=0            ; turn light off
    STATUS_OFF

# Control chamber LED
# Range : S = 0.0 - 100

[gcode_macro light_off]
gcode:
    set_pin pin=light value=0
    STATUS_OFF

[delayed_gcode light_off]
gcode:
	LIGHT_OFF


[gcode_macro light_on]
gcode:
    {% set S = params.S|default(8)|float %}
    SET_PIN PIN=light VALUE={S}
    STATUS_READY

[gcode_macro SLEEP]
description: set timeout in min, default 10min
gcode:
    {% set TIMEOUT = params.TIMEOUT|default(10)|int *60 %}
    SET_IDLE_TIMEOUT TIMEOUT={TIMEOUT}
    UPDATE_DELAYED_GCODE ID=light_off DURATION={TIMEOUT}